img {
    height: 130px;
    width: 130px;
}

#logo {
    text-align: center;
    margin-top: 10px;
    margin-bottom: -40px;
}

.data {
    margin-top: 0px;
    width: 332px;
    height: 2.8em;
    margin: 3px;
    border-radius: 3px;
    padding-left: 10px;
    background-color: aliceblue;
    font-size: 15px;
}

#data {
    height: 3.5em;
    width: 335px;
    margin-left: 3px;
    background-color: #1a75ff;
    color: white;
    border-radius: 3px;
    margin: 2px;
    font-style: 
    
}
#or {
    text-align: center;
    transform: translateY(-20px);
}

#left{
    width: 145px;
    margin-left: 5px; 
}

#right {
    width: 145px;
    margin-right: 5px;
    transform: translateY(-36px);
}

#for {
    text-align: center;
    color: #4d94ff;
}

#create {
    text-align: center;
    background-color: green;
    font-size: 15px;
    padding: 9px;
    color: white;
    border-radius: 3px;
    margin-left: 90px;
    margin-right: 90px;
    margin-top: -20px;
}

.lang {
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    font-size: 14px;
    color: #80aaff;
}
li {
    list-style: none;
}

#item1 {
    margin-left: -15px;
    text-align: center;
}

#item2 {
    padding-right: 10px;
    text-align: center;
}
#plus {
    border: solid;
}
#eng {
    color: black;
}

#note {
	color: red;
}
